@using System.Security.Claims;
@*@using DocumentArchiver.Helper.AppConst*@
@model DocumentArchiver.ViewModels.UserInfoViewModel
@{ 

    var abilites = Model.Claims.Where(c => c.Key == DocumentArchiver.Helper.AppConst.Ability).FirstOrDefault().Value;
    if (abilites == null)
    {
        abilites = new List<string>();
    }
    int colspan = abilites.Count;
}

<div class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <table class="table table-light">
                    <thead>
                        <tr>
                            <td class="text-center" colspan="@colspan">
                                <h4>Thông tin người dùng</h4>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right">
                                <h6>Tên người dùng:</h6>
                            </td>
                            <td class="text-left" colspan="@colspan">
                                @Model.Claims.Where(c => c.Key == ClaimTypes.Name).First().Value.First()
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right">
                                <h6>Quyền:</h6>
                            </td>
                            @foreach (var item in abilites)
                            {
                                <td>@item</td>
                            }
                        </tr>
                        <tr>
                            <td class="text-right">
                                <h6>Lớp:</h6>
                            </td>

                            @foreach (var item in @Model.Claims.Where(c => c.Key == DocumentArchiver.Helper.AppConst.LayerRank).First().Value)
                            {
                                <td class="text-left" colspan="@colspan">@item</td>
                            }
                        </tr>
                    </thead>
                    @*<tbody>
                            <tr>
                                <td>
                                    @Model.Claims.Where(c => c.Key == ClaimTypes.Name).First().Value;
                                </td>
                            </tr>
                            <tr></tr>
                        </tbody>*@
                </table>
            </div>
        </div>
    </div>
</div>